body {
    font-size: 13px;
    word-wrap: break-all;
    word-break: normal;
    list-style-type: none;
    text-align: left;
}

h1 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-all;
    word-break: normal;
    margin-top: 2px;
    margin: 2px auto;
    margin-bottom: 2px;	
}
p{
	align:center;
	text-align:center;
}
