BODY {
	text-align:center;
	background-image: url(/personalfocus/images/theme/summer/summerBg.jpg);
}

#background{
	width:1250px;
	height: 620px;
	position:absolute;
	top: 45px;
	left:0px;
	background-image: url(/personalfocus/images/theme/summer/summer.jpg);
	z-index: -1;
}
