BODY {
	text-align:center;
	background-image: url(/personalfocus/images/theme/sunflower/b1.jpg);
}




#background{
	width:1250px;
	height: 620px;
	position:absolute;
	top: 45px;
	left:0px;
	background-image: url(/personalfocus/images/theme/sunflower/1.jpg);
	z-index: -1;
}
