BODY {
	text-align:center;
	font-family:arial,helvetica,sans-serif;
	
}

.main-cont-tit {
		border-top: 2px solid #CCDFF2;
	border-bottom: 1px solid #0099CC;
	background-color: silver;
}

.main-cont {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	text-align: left;
    white-space: nowrap;
    background: none repeat scroll 0 0 #FFFFFF;
	border-color: -moz-use-text-color #CCDFF2 #CCDFF2;
	border: 2px solid #CCDFF2;
	border-style: none solid solid;
	border-width: medium 2px 2px;
	overflow: hidden;
	z-index:1000
}
#dis-control{
	position:absolute;
	left:0px;	
	top:0px;
	display:none;
	height:40px;
    width:100%;
	z-index:2147483643
}
.lhpmain-cont {
	width: 100%;
	height: 100%;
}

.main-cont-tit {
	font-size: 12;
	POSITION: relative;
	TEXT-ALIGN: left;
	LINE-HEIGHT: 30px;
	TEXT-INDENT: 5px;
	HEIGHT: 30px
}

.main-cont-tit a {
	MARGIN: 2px 2px;
	font-size: 12;
}


.copyright {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 17px;
	PADDING-TOP: 3px;
	width: 90%;
	margin-top: 30px;
}

.copyright A {
	MARGIN: 0px 6px;
	font-size: 13px;
}

.copy {
	margin-top: 8px;
}

.copyright {
	COLOR: #888
}

.copyright A {
	COLOR: #888
}

.copyright A:hover {
	COLOR: #888
}
.group{
  text-align: left
	}
#groups{
	list-style-type: none;
	text-align: center;
	}
#groups  ul li{
	float:left;
	width:80px;
	list-style-type: none;
	margin-left:1px;
	margin-right:1px;
	height: 20px;
	cursor: pointer;
}

.tabTitle{
   text-align: center;
   padding-left: 3px;
   padding-right: 3px;
}
.updateGroupStyle{
	 text-decoration: blink;
	  color: #FF0033;
}
.unDisplayGroupStyle{
	background: no-repeat  url(/personalfocus/images/tabUndisplay.png);
}
.displayGroupStyle{
	background:  no-repeat  url(/personalfocus/images/tabDisplay.png);
}


UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}


LI {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px
}
